@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Bodoni';
  src: 
       url('/fonts/bodoniN.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@layer components {
  .h1 {
    @apply font-lato font-bold text-[80px] leading-[80px];
  }

  .h2 {
    @apply font-lato font-semibold text-[24px] leading-[35px];
  }

  .h3 {
    @apply font-lato font-bold text-[48px] leading-[120px];
  }

  .h4 {
    @apply font-lato font-bold text-[36px];
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #21528F;
  color: black;
  margin:0;
  
}

@layer utilities {
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.6);
    }
    66% {
      transform: scale(1);
    }
    100% {
      transform: scale(1); 
    }
  }

  .animate-zoom {
    animation: zoom 2.5s ease-in ; /* Zoom effect */
  }
}
