@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply font-lato font-bold text-[80px] leading-[80px];
  }

  .h2 {
    @apply font-lato font-semibold text-[24px] leading-[35px];
  }

  .h3 {
    @apply font-lato font-bold text-[48px] leading-[120px];
  }

  .h4 {
    @apply font-lato font-bold text-[36px];
  }
}

* {
  box-sizing: border-box;
}
/*LUXURY
primary Color: Deep Navy (#0A1F44)
Secondary Color: Champagne Gold (#D4AF37)
Accent Color: Soft Ivory (#F8F5F0)
Text Color: Charcoal Black (#2A2A2A)
Button Color: Burgundy (#7D1128)
ELEGANT/SOFT
Primary Color: Lavender (#C3AED6)
Secondary Color: Blush Pink (#F6BDC0)
Accent Color: Peach (#F8E2CF)
Text Color: Deep Gray (#515151)
Button Color: Soft Gold (#FFD700)
Ideal for beauty, cosmetics, or lifestyle pro
*/
html,
body {
  background-color: white;
  color: black;
  margin:0;
  height: 100vh;
}

@layer utilities {
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.7);
    }
    66% {
      transform: scale(1);
    }
    100% {
      transform: scale(1); 
    }
  }

  .animate-zoom {
    animation: zoom 2.5s ease-in ; /* Zoom effect */
  }
}
